*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(nav.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    width: 100%;

    color: white;
}


.navbar{
    width: 100%;
    height: 60px;
    background: rgb(7,30,35);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h3{
    color: white;
    margin-left: 40px;
    font-size: 28px;
    border: 1px solid #fff;
    padding: 4px 8px;
    border-radius: 7px;

}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
    cursor: pointer;
    

}
ul li a{
    color: white;
    text-decoration: none;
    
}
ul li a:hover{
    color: aquamarine;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.main-menu{
    margin-right: 30px;
}

.closeBtn, .menuBtn{
    font-size: 28px;
    margin: 0px 20px;
    display: none;
}  

@media only screen and (max-width: 700px){
    ul{
        display: none;
    }
    ul li{
        display: block;
        margin: 20px;
    }
    .menuBtn{
        display: block;
    }
    
    h3{
        font-size: 20px;
    }
    #menu{
        width: 100%;
        background-color: cadetblue;
        position: absolute;
        top: 60px;
        right: 0;
        text-align: center;

    }

}




